
{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>
 <body>





      <div class="container-fluid">
        <a class='btn btn-primary btn-lg' href='http://portal.fulltech-metal.com/'>企業入口網站</a>&nbsp;


<!-- <h1>FT2018 企業內部自主開發 压铸/模具 開發</h1> -->

<!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container-fluid">
       <h1 class="display-3">FT2018 企業內部自主開發</h1>
       <p> 針對目前全製程 HR|T100|BPM|PDA 四個主要平台以外的內部自主開發.</p>
       <p><a class="btn btn-primary btn-lg" href="dev" role="button">瞭解更多 &raquo;</a></p>
     </div>
   </div>

   <div class="container-fluid">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>壓鑄</h2>
         <p>壓鑄希望有一個電子看板能夠顯示每日的不良統計表。 </p>
          <p> <a class='btn btn-primary' href='http://10.10.0.111'>直接訪問正在開發的 Web App</a></p>

         <!-- <p><a class="btn btn-secondary" href="http://10.10.0.111" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
       </div>
       <div class="col-md-4">
         <h2>模具</h2>
         <p>模具希望在T100模具维修工单的基礎上，有一個電子看板，可以查看各種日期。 </p>
         <p><a class="btn btn-primary" href="http://10.10.0.112" role="button">直接訪問正在開發的 Web App &raquo;</a></p>
        </div>
       <div class="col-md-4">
         <h2>量測</h2>
         <p>量測希望幾個導出的Excel可以快速整合成一個Excel。</p>
         <p><a class="btn btn-secondary" href="#" role="button">直接訪問正在開發的 Web App &raquo;</a></p>
       </div>
     </div>
       <!-- <div class="row">
         <div class="col-md-4">
           <h2>預留一</h2>
           <p>... </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-4">
             <h2>預留二</h2>
             <p>... </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
         <div class="col-md-4">
               <h2>預留三</h2>
               <p>... </p>
               <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
       </div> -->



   </div> <!-- /container -->


<!-- <a class='btn btn-primary' href='http://10.10.0.111'>压铸</a>&nbsp;
<a class='btn btn-primary' href='http://10.10.0.112'>模具</a> -->

{% if ft_dev_list %}
<h1>各項目記要</h1>
<table class='gridtable'>
  <tr>
    <th>  </th>
    <th>主題   </th>
    <th> 日期時間 </th>
    <th> 時間  </th>
    <th>說明 </th>
    <th>評估結果</th>

  </tr>

    {% for item in ft_dev_list %}
    <tr>
      <th> {{ forloop.counter }} </th>
      <td>{{ item.dev_topic }}   </td>
      <td> {{ item.dev_datetime | date:'Y-m-d H:i'}} </td>
      <td>  {{ item.dev_duration }}  </td>
      <td>{{ item.dev_description }} </td>
      <td>{{ item.dev_review }} </td>

    </tr>
    {% endfor %}
  </table>
{% else %}
    <p>No ft_dev_list are available.</p>
{% endif %}

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <!-- <script src="js/bootstrap.min.js"></script> -->
</div>
</body>
</html>
