
{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>
 <body>





      <div class="container-fluid">
        <a class='btn btn-primary btn-lg' href='http://portal.fulltech-metal.com/'>企業入口網站</a>&nbsp;


<!-- <h1>FT2018 企業內部自主開發 压铸/模具 開發</h1> -->

<!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container-fluid">
       <h1 class="display-3">FT2018 企業內部自主開發</h1>
       <p> 針對目前全製程 HR|T100|BPM|PDA 四個主要平台以外的內部自主開發.</p>
       <p><a class="btn btn-primary btn-lg" href="dev" role="button">瞭解更多 &raquo;</a></p>
     </div>
   </div>

   <div class="container-fluid">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>壓鑄</h2>
         <h3>需求人員</h3>

         <p>... </p>
         <h3>需求說明</h3>

         <p>壓鑄希望有一個電子看板能夠顯示每日的不良統計表。 </p>
         <p>壓鑄已採用新版的10個不良。但尚未在PDA報工和T100裡顯示出來。 </p>
         <p>壓鑄將自行維護電子看板的數據內容。 </p>
         <h3>技術要點</h3>

         <p>企業內部自主開發目前有成熟查詢T100數據庫和簡易自主數據維護。 </p>
         <p>開發階段選用數據庫SQLite，在調試正式環境和開發環境以操作和數據安全優先考量。 </p>
         <p>目前的理解是用戶將自行維護每天不同產品在各壓鑄機的不良數據。 </p>

         <h3>開發要點</h3>

         <p>提供用戶方便維護數據的畫面。 </p>
         <p>確認是否要提供每天產品和壓鑄機列表模板。 </p>

         <p>必要的話可以讓用戶批次使用 Excel 檔案導入。 </p>
          <p> <a class='btn btn-primary' href='http://10.10.0.111'>直接訪問正在開發的 Web App</a></p>

         <!-- <p><a class="btn btn-secondary" href="http://10.10.0.111" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
       </div>
       <div class="col-md-4">
         <h2>模具</h2>
         <h3>需求人員</h3>

         <p>... </p>
            <h3>需求說明</h3>
            <p>模具希望在T100模具维修工单的基礎上，有一個電子看板，可以查看各種日期。 </p>
            <p>模具用戶不希望在T100的介面維護各種日期。 </p>
            <!-- <p><a class="btn btn-primary" href="http://10.10.0.112" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->

         <h3>技術要點</h3>

         <p>企業內部自主開發目前有成熟查詢T100數據庫和簡易自主數據維護。 </p>
         <p>開發階段選用數據庫SQLite，在調試正式環境和開發環境以操作和數據安全優先考量。 </p>
   <p>如何將在T100模具维修工单的基礎信息帶到FT2018 企業內部自主開發是個挑戰。 </p>
         <h3>開發要點</h3>
         <p>起初階段先由開發人員以人工觸發取得T100相關信息。 </p>
         <p>再觸發時必需考量用戶已經維護的各種日期。 </p>
          <p> <a class='btn btn-primary' href='http://10.10.0.111'>直接訪問正在開發的 Web App</a></p>

        </div>
       <div class="col-md-4">
         <h2>量測</h2>
         <h3>需求人員</h3>

         <p>工程&nbsp;吳文清</p>
           <h3>需求說明</h3>
         <p>量測希望幾個導出的Excel可以快速整合成一個Excel交給工程。</p>
         <p>輸入的Excel檔案，有用列將會有標示性的編號準備寫入輸出結果的Excel檔案。</p>
         <p>原本考慮是否使用PDF檔案，經過驗証，PDF檔案裡準備要提取的數據已經是圖檔，現階段要開發的成本偏高，暫不採用。</p>


                  <h3>技術要點</h3>

                  <p>這項目在第一階段可以不涉及任何用戶需要關切的數據庫，全部的輸入就是Excel檔案，獲得的輸出結果也是Excel檔案。 </p>
                  <p>開發階段選用數據庫SQLite，在調試正式環境和開發環境以操作和數據安全優先考量。 </p>
            <p>如何將在T100模具维修工单的基礎信息帶到FT2018 企業內部自主開發是個挑戰。 </p>
                  <h3>開發要點</h3>

                  <p>提供用戶方便上傳和下載Excel檔案的頁面。 </p>
                  <p>確認編號的有用列寫到最終位置的額外選取或計算公式。 </p>
                   <!-- <p> <a class='btn btn-primary' href='http://10.10.0.111'>直接訪問正在開發的 Web App</a></p> -->



         <p><a class="btn btn-secondary" href="#" role="button">直接訪問正在開發的 Web App &raquo;</a></p>
       </div>
     </div>
       <!-- <div class="row">
         <div class="col-md-4">
           <h2>預留一</h2>
           <p>... </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-4">
             <h2>預留二</h2>
             <p>... </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
         <div class="col-md-4">
               <h2>預留三</h2>
               <p>... </p>
               <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
       </div> -->



   </div> <!-- /container -->


<!-- <a class='btn btn-primary' href='http://10.10.0.111'>压铸</a>&nbsp;
<a class='btn btn-primary' href='http://10.10.0.112'>模具</a> -->
<h1>各項目記要</h1>
（建構中...）
<!-- {% if ft_dev_list %} -->
<!-- <h1>各項目記要</h1>
<table class='gridtable'>
  <tr>
    <th>  </th>
    <th>主題   </th>
    <th> 日期時間 </th>
    <th> 時間  </th>
    <th>說明 </th>
    <th>評估結果</th>

  </tr>

    {% for item in ft_dev_list %}
    <tr>
      <th> {{ forloop.counter }} </th>
      <td>{{ item.dev_topic }}   </td>
      <td> {{ item.dev_datetime | date:'Y-m-d H:i'}} </td>
      <td>  {{ item.dev_duration }}  </td>
      <td>{{ item.dev_description }} </td>
      <td>{{ item.dev_review }} </td>

    </tr>
    {% endfor %}
  </table>
{% else %}
    <p>No ft_dev_list are available.</p>
{% endif %} -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <!-- <script src="js/bootstrap.min.js"></script> -->
</div>
</body>
</html>
